
body {
    background: grey;
    justify-content: center;
}

#bodycontent {
    text-align: center;
}

h1 {
    font-style: italic;
    font-size: 60px;
}

input {
    height: 70px;
    width: 70%;
    font-size: 22px;
    text-align: center;
    border: none;
}


#btn1 {
    background-color: green;
    height: 80px;
    width: 150px;
    border-radius: 20%;
    border: none;
}

#btn1:hover {
    background: yellowgreen;
    border-radius: 10%;
}

/* #li {
    font-size: 18px;
    margin-top: 15px;
    border: 2px solid black; 
    margin: 100px 100px;
} */

#btnn2 {
    background-color: rgb(249, 6, 6);
    height: 40px;
    width: 100px;
    margin-left: 10px;
    border-radius: 10%;
    font-size: 24px;
}

#btnn {
    background-color: firebrick;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    border-radius: 10%;
    color: white;
    font-size: 24px;
}

#todocon {
    display: flex;
}

#su {
    display: none;
}

#ul {
    
    justify-content: space-between;
}


#li {
    color: white;
    font-size: 24px;
    font-weight: bolder;

}



/* Media Query for Small Screens */
@media screen and (max-width: 768px) {
    #btn1 {
        height: 60px;
        width: 120px;
    }

    #btnn2,
    #btnn {
        height: 30px;
        width: 80px;
        margin-left: 5px;
        font-size: 14px;
    }
}

/* Media Query for Extra Small Screens */
@media screen and (max-width: 480px) {
    #btn1 {
        height: 50px;
        width: 100px;
    }

    #btnn2,
    #btnn {
        height: 25px;
        width: 70px;
        margin-left: 5px;
        font-size: 12px;
    }

    #todocon {
        flex-direction: column;
    }
}




